.c-block
    .o-container.o-container--sm
        h2.c-display.u-textCenter.u-spaceB2 A personal approach.
        :markdown
            Hi Brett,
 
            This is a short note to thank you for your professional and personal approach to my life insurance arrangements. Without your helpful advice and assistance, my position today would be significantly different.
             
            I really appreciated your professional approach in designing a package of life, TPD and income protection cover for me, and explaining how the various covers operated, particularly in respect of “own occupation” TPD cover. I also appreciate your persistence in making sure I eventually took out the suggested cover.  I was also able to contact you regularly during the life of the cover to check cover was relevant, and adjust as necessary. You were also able to explain the interaction between cover held personally versus that held in super, and the benefits/drawbacks of the various approaches. The difficulty of navigating the tax effect of insurance would have been impossible to understand without your assistance.
             
            As you know, unfortunately a circumstance has occurred where I have had to call on the cover. I now fully appreciate the benefit of having the cover in place. I also note that you have remained available throughout this whole process, providing support and assistance, even though you could reasonably say your job was done.
             
            I also now appreciate even further the advice given to me as to the amount of cover.  I should have had more cover, and your gentle prodding on the level of cover is recalled. I wish I had taken more notice of that advice.
             
            Insurance cover is one of those things people joke about, and think they will never need it. I can tell you from personal experience of myself and acquaintances, that lots of people will unfortunately call on their cover. My advice is to hold as much cover as you can to protect both yourself and your loved ones, and I strongly suggest that your advice on this be followed.
             
            Thank you again for all your help and advice, particularly your ongoing advice and assistance. I would be in a significantly worse position but for you.
             
            Kind Regards,
             
            Greg Parr
            