.c-nav-trigger {
    @include headlineSm();
    color: palette(black);
    font-family: $font-text-medium;
    line-height: 75px;
    text-align: center;
    width: 75px;
    margin: 0;

    &:before {
        content: '\2630';
        margin-right: 7px;
    }
}
