
<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='UTF-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
	<link rel='stylesheet' href='/styles/application.css'>
	<title>InsureControl</title>
</head>
<body>
	<nav class='c-nav c-nav--medium c-nav--floating'>
		<div class='c-nav-logo'>
			InsureControl
		</div>
		<ul class='c-nav-menu'>
			<li><a data-scroll href='#why'>Why Brett?</a></li>
			<li><a data-scroll href='#what-people-say'>What people say</a></li>
			<li><a data-scroll href='#contact'>Contact</a></li>
			<li>&bull;</li>
			<li>Call 1800 772 100</li>
		</ul>
	</nav>

	<div class='c-hero'>
		<div class='FlexEmbed'>
			<div class='FlexEmbed--ratio c-hero-ratioIndex'></div>
			<!-- Merge two bellow divs -->
			<div class='FlexEmbed-content'>
				<div class='o-coverImage c-hero--light' style='background-image: url("/images/hero.jpg")'>
					<div class='o-aligner o-container--rg'>
						<div class='o-aligner-item'>
							<div class='Grid Grid--withGutter'>
								<div class='Grid-cell u-sm-size1of2 '>
										<h1 class='c-hero-display'>Policies for people.</h1>
										<p class='c-hero-text u-marginT2'>
										I provide a local, face-to-face service to help people insure for themselves and their families.
										</p>
										<p class='c-hero-text'>
										I'm driven to help, because when I lost my wife to cancer, we weren't financially prepared.
										</p>
								</div>
								<div class='Grid-cell u-size1of2 u-posAbsolute c-hero-image'>
									<img src='http://placehold.it/300x450'>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class='o-container o-container--sm u-textCenter'>
		<div class='c-block'>
			<div>
				<h4 class='c-headline--inText'>LIFE, ASSURED</h4>
			</div>

			<h2 class='c-headline--md'>There are some things we can't control. It pays to think ahead.</h2>
		</div>

		<div class='c-block'>
			<img src='http://placehold.it/600x350'>
		</div>
	</div>

	<div class='o-container o-container--xs u-textCenter'>
		<div class='c-block'>
			<div>
				<h4 class='c-headline--inText'>LOCAL, TRUSTED ADVICE</h4>
			</div>

			<quote class='c-text--light'>
				"This is a quote from one of your clients that sums up your personalable and assured approach, which is why people trust you and your advice."
			</quote>
		</div>
	</div>
15
	<div class='o-container o-container--md c-block c-block--half'>
		<div class='u-textCenter'>
			<div class='Grid Grid--withGutter'>
				<div class='Grid-cell u-sm-size1of3'>
					<img src='http://placehold.it/75x75'>

					<h3 class='c-headline--sm'>Personal, local service.</h3>
					<hr>
					<p class='u-textLeft c-text--light'>
						Feature one text goes here and occupies about three or four lines in total. Simple yo.
					</p>
				</div>

				<div class='Grid-cell u-sm-size1of3 u-smDown-spaceT15'>
					<img src='http://placehold.it/75x75'>
					<h3 class='c-headline--sm'>Driven to help.</h3>
					<hr>
					<p class='u-textLeft c-text--light'>
						Feature one text goes here and occupies about three or four lines in total. Simple yo.
					</p>
				</div>

				<div class='Grid-cell u-sm-size1of3 u-smDown-spaceT15'>
					<img src='http://placehold.it/75x75'>
					<h3 class='c-headline--sm'>I'm on your side.</h3>
					<hr>
					<p class='u-textLeft c-text--light'>
						Feature one text goes here and occupies about three or four lines in total. Simple yo.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class='c-block c-block--neutral'>
		<div class='o-container o-container--xs u-textCenter'>
			<h2 class='c-headline'>Over $4 million.</h2>

			<p class='u-spaceTD2'>
				That's the value of claims I've enabled in the past decade. Here's a few stories from the people I've helped:
			</p>
		</div>

		<div class='o-container o-container--sm u-textCenter'>
			<div class='c-block c-block--half'>
				<div class='Grid Grid--withGutter'>
					<div class='Grid-cell u-sm-size1of2'>
						<img src='http://placehold.it/250x250'>

						<h3 class='c-headline--smBrand'>Story headline.</h3>
						<hr>
						<p class='c-text--sm u-textLeft'>
							Feature one text goes here and occupies about three or four lines in total. Simple yo. <a class='o-linkBrand' href='#'>Read</a>
						</p>
					</div>

					<div class='Grid-cell u-sm-size1of2 u-smDown-spaceT15'>
						<img src='http://placehold.it/250x250'>

						<h3 class='c-headline--smBrand'>Story headline.</h3>
						<hr>
						<p class='c-text--sm u-textLeft'>
							Feature one text goes here and occupies about three or four lines in total. Simple yo. <a class='o-linkBrand' href='#'>Read</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class='o-container o-container--sm u-textCenter'>
		<div class='c-block'>
			<h2 class='c-headline'>What 7 things can you do about it right now?</h2>
			<p class='u-spaceT'>
				It's not rocket science. We could all do with a safety net for the times we can't control. Yet there's never the time to fully consider all the options. Sign up below and we'll send the 7 things you can do right now to stave off the worst case:
			</p>
		</div>
	</div>

	<div class='o-container o-container--rg u-textCenter'>
		<div class='c-block c-block--half'>
			<form id='js-contact-form' method='POST' action='https://formspree.io/brett@insurecontrol.com.au' class='c-form u-marginT15'>
				<div id='js-contact-flash-messages'></div>

				<div class='c-form-groups'>
					<div class='c-form-group Grid Grid--withGutterSm'>
						<div class='Grid-cell u-size1of3'>
							<input class='c-form-control' placeholder='First Name' name='first-name'>
						</div>

						<div class='Grid-cell u-size1of3'>
							<input type='email' class='c-form-control' placeholder='Your email address' name='email'>
						</div>

						<div class='Grid-cell u-size1of3'>
							<button class='c-button c-button--primary u-sizeFull' type='submit'>Submit</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class='o-container o-container--xs u-textCenter'>
		<div class='c-block c-block--oneAndAHalf'>
			<div>
				<h4 class='c-headline--inText'>CONTACT BRETT DIRECTLY</h4>
			</div>

			<img class='o-image--circle u-spaceTD2 u-spaceBD2' src='http://placehold.it/75x75'>

			<p class='c-text--smLight'>
				Get in touch for a free half hour to discuss your situation.
				<br>
				Email <a class='o-linkUnderline' href='mailto:brett@insurecontrol.com.au'>brett@insurecontrol.com.au</a>
				<br>
				Call <a class='o-linkUnderline' href='tel:+610408767540'>+61 0408 767 540</a>
			</p>
		</div>
	</div>

	<footer class='c-footer'>
		<div class='o-container'>
			<nav class='c-nav'>
				<div class='c-nav-logo'>
					InsureControl
				</div>

				<ul class='c-nav-menu u-textRight'>
					<li><a data-scroll href='#why'>Why Brett?</a></li>
					<li><a data-scroll href='#what-people-say'>What people say</a></li>
					<li><a data-scroll href='#contact'>Contact</a></li>
					<li>&bull;</li>
					<li>Call 1800 772 100</li>
				</ul>
			</nav>

			<div class='u-colorBlack40 c-text--sm'>
				<div>
					Brett Aitken. Liscense number 4771-0019-7356-7431. 177 Pointing Drive, Red Lynch, Queensland 4870.
				</div>
				<div>
					Copyright (c) Insure Control 2017. ALl right reserved. Privacy &bull; Disclaimer &bull; Site by Patternworks
				</div>
			</div>
		</div>
	</footer>

	<script src='/js/formspree.js'></script>
</body>
</html>
