doctype html
html(lang='en')
    head
        != partial('_shared/head')

    body(class='#{current.path[0]} #{current.path[1]}')
        != yield

        script(src='assets/js/formspree.js')
        script(src='assets/js/touchnav.js')
        script(src='assets/js/videoOverlay.js')
