.c-block
    .o-container.o-container--sm
        h2.c-display.u-textCenter.u-spaceB2 Independence gained.
        :markdown
            Several years ago, when my husband Mick started up his own business, my brother-in-law Brett suggested he should consider taking out some personal insurance. It was always on the to-do list, but always seemed to be put on the back-burner. As the years went by, Brett continued to urge Mick to seriously consider it, especially following the birth of our first child. 
            
            Not long before our second child was due, Mick planned a snow boarding trip to New Zealand. As Mick had never snow boarded before, I was very apprehensive of him breaking a limb or getting injured. Just before the trip, Brett finally convinced Mick to commit to it. Mick enjoyed his trip and returned safely, limbs intact. Not long after, we welcomed our son into the world on Australia Day 2013. 
            
            On the 19th May, the unimaginable happened. Mick died instantly in a car accident when the vehicle he was a passenger in, rolled.
            It is hard to adequately describe what it was like dealing with the aftermath of this tragedy, especially when caring for two children below the age of two. Thankfully we are incredibly blessed with a strong support network of family and friends.
            
            When I learned of the life insurance, I found it very difficult to accept. It felt like his life was being reduced to a figure. To me, his life was, and still is, worth much more than any sum of money. However four years on and with the benefit of time, I can honestly say it would have been all the more difficult had it not been for the life insurance Brett had insisted Mick take out. 
            
            Now I realise how important  that life insurance was for us -but  me in particular, by allowing me to gain some independence, but not just financially. As much as we are grateful for all the support we received and continue to receive, it was hard not to feel like we were a burden. Especially when I was so reliant on family members staying with us to help out with my two young children. However thanks to the life insurance, I was able to organise several au pairs over the next year to provide the much needed assistance we required, until I felt confident enough to go it alone. 
            
            Thus we will be forever grateful for Brett's gentle but insistent persuasion.
            
            Debbie Foreman
            