footer.c-footer
    != partial('nav')

    .o-container.o-container--md
        .u-spaceTD2.u-sm-size9of12.Grid-cell--center.c-footer-meta
            p Brett Aitken is an Authorised Representative (No. 410970) of Ausure Pty Ltd (ABN 94 096 971 854, AFSL 238433) t/as Insure Control Pty Ltd (ABN 44 958 744 319). For more information, visit: #[a(href="http://www.ausure.com.au") www.ausure.com.au] • #[a(href="http://www.ausure.com.au/app/uploads/2016/01/Ausure-FSG-Website_s.pdf") Ausure Financial Services Guide] • #[a(href="http://www.ausure.com.au/privacy-terms/") Terms of use and privacy policy]
            p © #{site_title} 2017. #[a(href="https://patternworks.com.au") Site by Patternworks]
