.c-nav-trigger.u-sm-hide(data-modal-toggle='') Menu
.o-modal(tabindex='-1', role='dialog', aria-labelledby='mobileNav', data-modal='')
    .o-modal-dialog.o-aligner(role='document')
        .o-aligner-item
            //- .Nav-logo
            a.c-nav-logo(href="/")
                img(src="/assets/images/logo.jpg", alt="#{site_title}")
            ul.Nav-menu
                li: a(data-scroll, href='#why') Why Brett?
                li: a(data-scroll, href='#what-people-say') What people say
                li: a(data-scroll, href='#contact') Contact