.o-modal.u-textCenter(tabindex='-1', role='dialog', aria-labelledby='mobileNav', data-modal='')
    .o-modal-dialog.o-aligner(role='document')
        .o-aligner-item
            a.Nav-logo(href="/")
                img(src="/assets/images/logo.jpg", alt="#{site_title}")
            ul.Nav-menu
                li: a(data-scroll, href='#why') Why Brett?
                li: a(data-scroll, href='#what-people-say') What people say
                li: a(data-scroll, href='#contact') Contact
