nav.o-container.o-container--md(role='banner')
    .c-nav.c-nav--medium.c-nav--floating
        a.c-nav-logo(href="/")
            img(src="/assets/images/logo.jpg", alt="#{site_title}")
        ul.c-nav-menu
            li: a(data-scroll, href='#why') Why Brett?
            li: a(data-scroll, href='#what-people-say') What people say
            li: a(data-scroll, href='#contact') Contact
            li •
            li Call #{phone}