.c-block
    .o-container.o-container--sm
        h2.c-display.u-textCenter.u-spaceB2 Control over the worst.
        :markdown
            We decided to see Brett for our personal insurance well before we had children and our own home. This insurance was important to us because if something happened we wanted to be independent and not rely on our parents when the worst had happened. We wanted to take control and be able to say we have things covered. 
            
            Several years later Kai was diagnosed with papillary thyroid cancer. We were living in far north QLD and had fly to Brisbane numerous times for appointments prior to Kai’s operation to remove his full thyroid and lymph nodes. This was time off work and recovery time. Kai had radiation treatment again in Brisbane a few months after the operation, and 10 months later the cancer had returned in more lymph nodes. This was almost 5 years ago and Kai has regular check-ups that have been clear.
            
            Our claim process on our trauma insurance was straight forward, caring and Brett was there to support us during this time. Having our insurances in place meant that during this hard time in our life, time off work and the expenses we didn’t need to worry about that aspect. As a family we could all travel to Brisbane and be together. 
            
            We would highly recommend Brett, he is knowledgeable passionate and takes pride in his clients lives.
            
            Regards,
            
            Kai and Kate Braysher
