

// --------------------------------------------------------------------------
//   BASE: RULE
// --------------------------------------------------------------------------


hr {
    border: 0;
    border-top: 1px solid palette(border-dark);
		margin: space(0.75) auto;
}
